    @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Rubik:wght@400;500;700&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
     :root {
        --Pale-Violet-sub-heading: hsl(276, 100%, 81%);
        --Moderate-Violet-chat-on-the-left: hsl(276, 55%, 52%);
        --Desaturated-Dark-Violet-chat-on-the-right: hsl(271, 15%, 43%);
        --Grayish-Blue-placeholder-text-: hsl(206, 6%, 79%);
        --Very-Dark-Desaturated-Violet-main-heading: hsl(271, 36%, 24%);
        --Dark-Grayish-Violet-paragraph: hsl(270, 7%, 64%);
        --Light-Magenta: hsl(293, 100%, 63%);
        --Light-Violet: hsl(264, 100%, 61%);
        --White: hsl(0, 0%, 100%);
        --Light-Grayish-Violet-app-background: hsl(270, 20%, 96%);
        --Very-Dark-Desaturated-Violet-submit-button-background: hsl(271, 36%, 24%);
        --Very-Light-Magenta-radio-button-outline: hsl(289, 100%, 72%);
    }
    
    .chats {
        background: var(--Dark-Grayish-Violet-paragraph);
        width: 60%;
        padding: 7.5px;
        margin: 12px;
        border-radius: 10px;
    }
    
    .chats .text {
        color: var(--Moderate-Violet-chat-on-the-left);
        font-size: small;
        padding-right: 15px;
    }
    
    .white {
        background: var(--White);
        width: 60%;
        padding: 10px;
        border-radius: 10px;
        margin: 10px 6rem;
        color: var(--Desaturated-Dark-Violet-chat-on-the-right);
        font-size: small;
    }
    
    .blue {
        background: linear-gradient(to right, rgb(250, 63, 250), rgb(78, 78, 201));
        width: 70%;
        padding: 10px;
        margin: 12px;
        border-top-right-radius: 10px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 15px;
    }
    
    .main-wrapper .section {
        background: var(--White);
        font-family: 'Rubik', sans-serif;
        margin-bottom: 5%;
    }
    
    .main-wrapper .section .wrapper {
        position: relative;
    }
    
    .main-wrapper .section .wrapper .hero {
        content: "";
        width: 50%;
        height: 70vh;
        background: var(--Moderate-Violet-chat-on-the-left);
        border-bottom-right-radius: 190px;
    }
    
    .main-wrapper .section .wrapper .card {
        background: var(--White);
        padding: 10px 10px 1px 10px;
        box-shadow: 0 0 60px rgb(180, 174, 174);
        border-radius: 30px;
        width: 80%;
        margin: 0 auto;
        position: absolute;
        top: 70px;
        left: 40px;
    }
    
    .main-wrapper .section .wrapper .card .chat-header {
        padding: 30px 10px 10px 10px;
        background: linear-gradient(to right, rgb(78, 78, 201), rgb(250, 63, 250));
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
    }
    
    .main-wrapper .section .wrapper .card::before {
        content: "";
        width: 50%;
        padding: 10px;
        margin: 0 auto;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background: var(--White);
        display: block;
        position: absolute;
        top: 9px;
        right: 65px;
    }
    
    .main-wrapper .section .wrapper .card .chat-header .header-content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .main-wrapper .section .wrapper .card .chat-header .header-content .icon-right {
        color: var(--White);
    }
    
    .main-wrapper .section .wrapper .card .chat-header .header-content .header-left {
        display: flex;
        gap: 10px;
        align-items: flex-end;
    }
    
    .main-wrapper .section .wrapper .card .chat-header .header-content .header-left .samuel>.green {
        color: var(--Pale-Violet-sub-heading);
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 2px;
    }
    
    .main-wrapper .section .wrapper .card .chat-header .header-content .header-left .samuel>.avail {
        color: var(--Dark-Grayish-Violet-paragraph);
        font-size: small;
    }
    
    .main-wrapper .section .wrapper .card .chat-header .header-content .header-left>.icon-left {
        padding: 10px 0 10px 10px;
        color: var(--White);
    }
    
    .main-wrapper .section .wrapper .card .chat-header .header-content .header-left .image>img {
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid white;
    }
    
    .main-wrapper .section .wrapper .card .chat-body {
        background: var(--Light-Grayish-Violet-app-background);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-bottom: 20px;
        padding-top: 5px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-1 {
        display: block;
    }
    
    .main-wrapper .section .wrapper .card .image .first-image {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 8px;
    }
    
    .main-wrapper .section .wrapper .card .image .first-image>img {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        display: inline-block;
        margin: 5px 5px 0 5px;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-4 {
        text-align: center;
        width: 50%;
        margin: 0 7.5rem;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-6 .article-6-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-6 .article-6-content .minutes {
        display: flex;
        gap: 5px;
        color: var(--Pale-Violet-sub-heading);
        font-size: small;
        align-items: center;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-6 .article-6-content .first-figure {
        font-size: small;
        color: var(--White);
        font-weight: 500;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-6 .article-6-content .minutes>.circle {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid var(--Pale-Violet-sub-heading);
        border-radius: 50%;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-7 {
        margin-bottom: 25px;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-7 .article-7-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-7 .article-7-content .hour {
        display: flex;
        gap: 5px;
        color: var(--Pale-Violet-sub-heading);
        font-size: small;
        align-items: center;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-7 .article-7-content .second-figure {
        font-size: small;
        color: var(--White);
        font-weight: 500;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-7 .article-7-content .hour>.circle {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid var(--Pale-Violet-sub-heading);
        border-radius: 50%;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-8 {
        background: var(--White);
        margin: 0 15px 0 15px;
        box-sizing: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
        padding: 8px 10px 2px 10px;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-8>.icon {
        color: var(--White);
        background: var(--Very-Dark-Desaturated-Violet-submit-button-background);
        padding: 8px 13px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    
    .main-wrapper .section .wrapper .card .chat-body .chat-article-8 .placeholder {
        color: rgb(194, 186, 186);
        font-size: small;
    }
    
    .main-wrapper .section .footer {
        padding: 40px 20px;
        text-align: center;
        margin-top: 90%;
        margin-bottom: 0;
    }
    
    .main-wrapper .section .footer>.simple {
        padding: 15px;
        font-size: 35px;
        line-height: 34px;
        font-weight: 700;
    }
    
    .main-wrapper .section .footer>.article-text {
        color: var(--Very-Dark-Desaturated-Violet-main-heading);
        line-height: 30px;
        font-size: 20px;
        padding: 0 10px;
    }
    
    @media screen and (min-width: 414px) {
        .main-wrapper .section .footer {
            margin-top: 12rem;
        }
    }
    
    @media screen and (min-width: 1100px) {
        .main-wrapper .section .wrapper .hero {
            width: 30%;
            height: 100vh;
            border-bottom-right-radius: 300px;
            border-bottom-left-radius: 200px;
        }
        .main-wrapper .section {
            position: relative;
            height: 100vh;
        }
        .main-wrapper .section .wrapper {
            margin-bottom: 20px;
        }
        .main-wrapper .section .wrapper .card {
            width: 25%;
            position: absolute;
            top: 70px;
            left: 320px;
        }
        .main-wrapper .section .wrapper .card .chat-body {
            height: 75vh;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            margin-bottom: 10px;
        }
        .chats {
            width: 65%;
            padding: 5px;
            margin: 5px;
            font-size: 10px;
            padding-right: 8px;
        }
        .white {
            background: var(--White);
            width: 65%;
            padding: 5px;
            margin: 6px 6.5rem;
            font-size: small;
        }
        .blue {
            width: 75%;
            padding: 8px;
            margin: 8px 8px 8px 5px;
        }
        .main-wrapper .section .wrapper .card .chat-body .chat-article-4 {
            margin: 0 9.3rem 8px 9.3rem;
        }
        .main-wrapper .section .wrapper .card .chat-body .chat-article-7 {
            margin-bottom: 15px;
        }
        .main-wrapper .section .wrapper .card .chat-body .chat-article-8 {
            margin: 0 5px 0 5px;
            border-radius: 50px;
            padding: 8px 10px 2px 10px;
        }
        .main-wrapper .section .footer {
            width: 40%;
            margin-top: 14%;
            position: absolute;
            top: 70px;
            right: 100px;
            text-align: left;
            padding: 0 30px;
        }
    }